.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
    justify-content: center;
  }

  th {
    background-color: rgb(117, 201, 250);
  }

  td {
    width: (100%/5);
    background-color: rgb(205, 235, 253);
  }

  form {
    display: flex;
    gap: 5px;
  }

  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }

  form * {
    font-size: 28px;
  }
